<div class="full-component">
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <div class="card-container">
    <mat-card *ngFor="let product of product" class="card">
      <mat-card-header>
        <mat-card-title
          >{{ product.productName }} -
          <span class="tag">{{ product.shortCode }} </span>
        </mat-card-title>
        <mat-card-subtitle> ${{ product.price }}</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        [src]="'http://localhost:3000/' + product.image"
        alt="Product Image"
      />

      <mat-card-content>
        <p>{{ product.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="addToCart(product)">
          Add To Cart
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
