.table {
  margin: 25px 30px 20px 30px;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  margin: 10px 0px 0px 10px;
  font-family: "Cuprum", sans-serif;
  font-size: 26px;
  font-weight: bold;
}
.addProduct {
  margin: 10px 10px 0px 0px;
  border-radius: 0%;
  font-size: 18px;
  font-family: "Cuprum", sans-serif;
}
.mat-elevation-z8 {
  margin: 10px;
}
th {
  font-size: 20px;
  font-weight: bold;
  font-family: "Cuprum", sans-serif;
  padding: 20px;
}
td {
  padding: 5px 0px 5px 25px;
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
}

.icon {
  width: 45px;
  height: 45px;
  margin: 5px;
}
mat-paginator {
  margin-top: 10px;
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
}
