* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.1);
  height: 70px;
}

.brand_name {
  font-size: 32px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 2px;
}

ul,
li {
  list-style-type: none;
  padding: 5px 15px 5px 10px;
}

button {
  font-family: "Trebuchet MS";
  font-size: 20px;
  margin-right: 45px;
}

button:hover {
  background-color: lightgrey;
  transform: scale(1.05);
  color: black;
}
