* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.brand_name {
  font-size: 36px;
  letter-spacing: 2px;
  font-family: "Bebas Neue", sans-serif;
}

ul,
li {
  list-style-type: none;
  padding: 5px 15px 5px 15px;
}

.pages {
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Cuprum", sans-serif;
}

.pages:hover {
  background-color: ghostwhite;
  transform: scale(1.03);
  color: black;
}
