.navbar {
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
}

.brand_name {
  font-size: 36px;
  letter-spacing: 3px;
  font-family: Haettenschweiler;
}

ul,
li {
  list-style-type: none;
  padding: 5px 15px 5px 15px;
}

button {
  font-size: 22px;
  margin-left: 10px;
  margin-right: 10px;
}

button:hover {
  background-color: rgb(155, 153, 153);
  transform: scale(1.05);
  color: black;
}
