<div class="main-container full-component">
  <div class="cart-container">
    <div class="cart-left">
      <span class="heading">Shopping Cart</span>
      <div class="line"></div>
      <ng-container *ngIf="cartItems.length > 0; else noProducts">
        <table class="cart-table">
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of cartItems">
              <td><img [src]="product.imageUrl" alt="Product Image" /></td>
              <td>{{ product.productName }}</td>
              <td>
                <button class="icon" (click)="incrementQuantity(product)">
                  +
                </button>
                <input
                  type="text"
                  class="quantityField"
                  [(ngModel)]="product.requestedQuantity"
                  (change)="updateQuantity(product)"
                />

                <button class="icon" (click)="decrementQuantity(product)">
                  -
                </button>
              </td>
              <td>${{ product.price | number : "1.2-2" }}</td>
              <td>
                <button
                  mat-raised-button
                  color="warn"
                  (click)="removeItem(product)"
                >
                  Remove
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>

      <ng-template #noProducts>
        <p class="no-product-message">No products added to the cart</p>
      </ng-template>
    </div>

    <div class="cart-right">
      <span class="heading">Summary</span>
      <div class="line"></div>
      <div class="summary-list">
        <div *ngFor="let product of cartItems" class="summary-item">
          {{ product.productName }} - {{ product.requestedQuantity }} * ${{
            product.price | number : "1.2-2"
          }}
          = ${{ product.requestedQuantity * product.price | number : "1.2-2" }}
        </div>
      </div>
      <div *ngIf="outOfStockMessages.length > 0">
        <p
          class="out-of-stock-message"
          *ngFor="let message of outOfStockMessages"
        >
          {{ message }}
        </p>
      </div>

      <div class="total-price">
        Total: ${{ getTotalPrice() | number : "1.2-2" }}
      </div>

      <button mat-raised-button color="primary" (click)="checkout()">
        Checkout
      </button>
    </div>
  </div>
</div>

