* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.brand_name {
  font-size: 32px;
  letter-spacing: 2px;
  font-family: "Shrikhand", serif;
  cursor: pointer;
  gap: 35px;
  margin-left: -40px;
}

.logo {
  margin: -20px;
}

ul,
li {
  list-style-type: none;
  padding: 0px 65px 0px 65px;
}
.link {
  margin-left: -125px;
}
.tabs {
  font-size: 25px;
  font-family: "Cuprum", sans-serif;
}

.tabs:hover {
  color: rgb(76, 154, 180);
  background-color: rgb(243, 243, 255);
  transform: scale(1.03);
}

mat-icon {
  font-size: 28px;
}
button {
  background-color: white;
  border: none;
  cursor: pointer;
}
