<ul fxLayout="row" fxLayoutAlign="space-between center" class="navbar">
  <li
    class="brand_name"
    routerLink=""
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <img [src]="imageUrl" alt="logo" class="logo" />SwiftSteps
  </li>
  <li class="link">
    <button mat-flat-button routerLink="" class="tabs">Home</button>
    <button mat-flat-button routerLink="/dashboard" class="tabs">
      Dashboard
    </button>
    <button mat-flat-button routerLink="/products" class="tabs">
      Products
    </button>
  </li>
  <li>
    <button routerLink="myCart">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </li>
</ul>
